<h1>
{{title}}
</h1>
{{empList | json}}

<table class="table">
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        Name
      </th>
      <th>
        Salary
      </th>
      <th>
        Address
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empList">
      <td>
        {{emp.id}}
      </td>
      <td>
        {{emp.name}}
      </td>
      <td>
        {{emp.salary}}
      </td>
      <td>
        {{emp.address}}
      </td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" (click)="hideDiv()">Toggle</button>