<h1>
 Order List
</h1>

<table class="table">
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        Customer name
      </th>
      <th>
        qty
      </th>
      <th>
        order date
      </th>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderList">
      <td>
        {{order.id}}
      </td>
      <td>
        {{order.customerName}}
      </td>
      <td>
        {{order.qty}}
      </td>
      <td>
        {{order.orderDate}}
      </td>
    </tr>
  </tbody>
</table>
